#!/bin/sh -e

# create_ipa_for_environments.sh
# version 1.0.0
# Contact manish.rathi@philips.com
#
# This shell script will responsible to generate the ipa files for different environments.
# This mustache file will be update by `Build Machine` (Jenkins server Machine) on run time.
#

%{SCRIPT_CONTENT}


exit $?
